/* cyrillic */
@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6D6MmTpA.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
/* latin-ext */
@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6J6MmTpA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
/* latin */
@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6Mk.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

/* latin-ext */
@font-face {
    font-family: 'Viga';
    font-style: normal;
    font-weight: 400;
    src: local('Viga-Regular'), url(https://fonts.gstatic.com/s/viga/v6/xMQbuFFdSaiXzQspDre2.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
/* latin */
@font-face {
    font-family: 'Viga';
    font-style: normal;
    font-weight: 400;
    src: local('Viga-Regular'), url(https://fonts.gstatic.com/s/viga/v6/xMQbuFFdSaiXzQUpDg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }  
  
body {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    background-color: rgb(78, 7, 7);
    margin: 0;
    padding: 0;
    }
    header {
        color: #162133;
        background-color: rgba(244, 183, 70, 0.75);
        width: 100%;
        margin: 0px;   
        position:fixed;
        z-index: 7;
        padding: 10px;
        height: 50px;
    }
        header h1 {
            font-family: Viga, serif;
            padding-left: 5px;
            margin-top: 5px;
            margin-bottom: 0px;
            display: inline-block;
        }
        header img {
            height: 200%;
            float: left;
            display: inline-block;
            margin-top: -25px;
        }
        header nav {
            float: right;
            margin-top: -20px;
            margin-right: 20px; 
        }
        header nav a {
            color:  #162133;
            font-family: Viga, serif;
            font-size: 100%;
            text-decoration: none;
        }
        header nav li {
            position: relative;
            list-style-type: none;
            display: inline;
            padding: 20px 20px;
            margin: 0px;
            float: left;
        }

        header li:hover {
            color: white;
            background-color: orange;
            box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.5);
        }

        header li a:hover, .dropdown:hover .dropbtn {
            color: white;
            background-color: orange;
            
        }
        
        header li.dropdown {
            display: inline-block;
        }
        
        header .dropdown-content {
            display: none;
            position: absolute;
            background-color: orange;
            margin-left: -20px;
            margin-top: 20px;
            width: 100%;
            z-index: 1;
        }
        header .dropdown-content a {
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: center;
        }
        header .dropdown-content a:hover {
            background-color: rgba(244, 183, 70, 0.75);
        }
        
        header .dropdown:hover .dropdown-content {
            display: block;
        }

        
        .fling-minislide {
            width: 800px;
            height: 400px; 
            overflow: hidden;
            position: relative;
            margin-left: 250px;
            border-radius: 15px;
        }
        .fling-minislide img{ 
            position:absolute; 
            animation:fling-minislide 20s infinite; 
            opacity:0; 
            width: 100%; 
            height: auto;
        }
    
        @keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}}
        .fling-minislide img:nth-child(4){animation-delay:0s;}
        .fling-minislide img:nth-child(3){animation-delay:5s;}
        .fling-minislide img:nth-child(2){animation-delay:10s;}
        .fling-minislide img:nth-child(1){animation-delay:15s;}

        main {
            position: absolute;
            top: 70px;
            margin: 10 px;    
            padding: 10px;
            font-family: Pacifico;
            font-size: 20px;
            width: 100%;
        } 

        main div.movies {
            padding-top: 20px;
            padding-left: 10px ;
            padding-right: 10px ;
            padding-bottom: 10px;
            margin: 10px;
            background-color: burlywood;
            border-radius: 15px; 
        }
            .movies img {
                height: 400px;
                border-radius: 15px;
                margin: 10px;
            }
            /* under construction
            .movies a.orderbtn {
                background-color:;
                border:;
                padding:;
                border-radius:;
                font-size:;
                text-decoration:;
                text-align:;
                color:;
            }
            .movies a.orderbtn:hover{
                border:;
                background-color:;
                color:;
            }
            */
        main #aboutme {
            background-color: skyblue;
            background-size:auto;
            background-position:;
            text-align: center;
            color: orangered;
            padding-top: 10px;
            padding-bottom: 10px;
            margin: 20px 10px;
            font-size: 15px;
            border-radius: 15px;
            font-family: Viga;
        }
        /* coming soon
        div.contact {}
            div.contact img {}
        div.optchoice {}
        */
    footer {
    position: absolute;
    background-color: rgba(14, 14, 12, 0.75);;
    color: white;
    text-align: center;
    font-family: Viga;
    padding: 10px;
    width: 100%;
    margin-top: 20px;
    margin-left: -10px;   
    }    
        footer p {
            padding: 10px;
            font-size: 20px;
        }



